label {
	font-weight:bold;
}
article {
	border:2px solid #000000;
	border-radius:15px;
	font-size:16px;
	margin:5px 5px;
	padding:10px 15px 0px 15px;
	background:#EFF6FC;
}
#posts img {
	vertical-align:bottom;
	margin:-1px 0px 0px 0px;
}
.user_info {
	font-size:17px;
	font-weight:bold;
}
